#slider-box{
    position: relative;
    overflow: hidden;
}
/* slider-content */
#slider-box>.slider-content{
    height: 100%;
    margin: 0;
    padding: 0;
    width: max-content;
    position: absolute;
}
.slider-content .slider-item{
    list-style: none;
    float: left;
    height: 100%;
}
.slider-content .slider-item>img{
    height: 100%;
    width: 100%;
}

/* slider-circle */
#slider-box>.slider-circle{
    border: solid 1px red;
}