#silder-box{
    position: relative;
    overflow: hidden;
}
/* silder-content */
#silder-box>.silder-content{
    height: 100%;
    margin: 0;
    padding: 0;
    width: max-content;
    position: absolute;
}
.silder-content .silder-item{
    list-style: none;
    float: left;
    height: 100%;
}
.silder-content .silder-item>img{
    height: 100%;
    width: 100%;
}

/* silder-circle */
#silder-box>.silder-circle{
    border: solid 1px red;
}