#slider-box{
    position: relative;
    overflow: hidden;
}

/* slider-content */
#slider-box>.slider-content{
    height: 100%;
    margin: 0;
    padding: 0;
    width: max-content;
    position: absolute;
    
}
#slider-box .slider-content .slider-item{
    list-style: none;
    float: left;
    height: 100%;
}
#slider-box .slider-content .slider-item>img{
    height: 100%;
    width: 100%;
}

/* slider-btn */
#slider-box .slider-btn{
    position: absolute;
    z-index: 100;
    background: rgba(0,0,0,0.6);
    color: #fff;
    padding: 20px 8px;
    font-size: 24px;
    cursor: pointer;
    top: 50%;
    margin-top: -35px;
    user-select: none;
    opacity: 0;
    transition: all 500ms;
    border-radius: 8px;
}
#slider-box .slider-prev{
    left: 10px;
}
#slider-box .slider-next{
    right: 10px;
}
#slider-box .slider-active{
    opacity: 1;
    transition: all 500ms;
}

/* slider-circle */
#slider-box>.slider-circle{
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
}
#slider-box>.slider-circle .circle-item{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    background: transparent;
    border: solid 1px #fff;
    margin: 10px 5px;
    cursor: pointer;
}
#slider-box>.slider-circle .circle-item-active{
    background: #fff;
}